@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --step--1: clamp(0.63rem, calc(0.56rem + 0.34vw), 0.8rem);
    --step-0: clamp(0.75rem, calc(0.65rem + 0.49vw), 1rem);
    --step-1: clamp(0.9rem, calc(0.76rem + 0.68vw), 1.25rem);
    --step-2: clamp(1.08rem, calc(0.89rem + 0.94vw), 1.56rem);
    --step-3: clamp(1.3rem, calc(1.04rem + 1.28vw), 1.95rem);
    --step-4: clamp(1.56rem, calc(1.21rem + 1.73vw), 2.44rem);
  }
}
